In [1]:
import requests 
from bs4 import BeautifulSoup 
import pandas as pd
def get_valuacion_from_html (url):
    '''Funcion que a traves de una url me trae las tablas de valuaciones'''
    import json
    import pandas as pd
    r = requests.get(url) 
    soup = BeautifulSoup(r.content, 'html5lib') 
    supa = soup.find('input',attrs={'id' : 'grillaData'})
    value = supa.get('value')
    table_2019_json = eval(json.loads(value))
    return pd.DataFrame(table_2019_json['tableRows'],columns=table_2019_json['tableHeaders'])

In [2]:
URL_2013 = "https://www.agip.gob.ar/informacion-de-utilidad/valuaciondeautomotores-2013"
URL_2014 = "https://www.agip.gob.ar/informacion-de-utilidad/valuaciondeautomotores-2014"
URL_2015 = "https://www.agip.gob.ar/informacion-de-utilidad/valuaciondeautomotores-2015"
URL_2016 = "https://www.agip.gob.ar/informacion-de-utilidad/valuaciondeautomotores-2016"
URL_2017 = "https://www.agip.gob.ar/informacion-de-utilidad/valuaciondeautomotores-2017"
URL_2018 = "https://www.agip.gob.ar/informacion-de-utilidad/valuacion-de-automotores-2018"
URL_2019 = "https://www.agip.gob.ar/informacion-de-utilidad/valuacion-de-automotores-2019"

In [3]:
URL_2013_df = get_valuacion_from_html(URL_2013)
URL_2013_df['anio_valuacion']= 2013
URL_2014_df = get_valuacion_from_html(URL_2014)
URL_2014_df['anio_valuacion']= 2014
URL_2015_df = get_valuacion_from_html(URL_2015)
URL_2015_df['anio_valuacion']= 2015
URL_2016_df = get_valuacion_from_html(URL_2016)
URL_2016_df['anio_valuacion']= 2016
URL_2017_df = get_valuacion_from_html(URL_2017)
URL_2017_df['anio_valuacion']= 2017
URL_2018_df = get_valuacion_from_html(URL_2018)
URL_2018_df['anio_valuacion']= 2018
URL_2019_df = get_valuacion_from_html(URL_2019)
URL_2019_df['anio_valuacion']= 2019

In [4]:
df = pd.concat([URL_2013_df,URL_2014_df,URL_2015_df,URL_2016_df,URL_2017_df,URL_2018_df,URL_2019_df])

In [5]:
URL_2013_df.columns

Index(['Nro Orden', 'Cod. Marca', 'Nombre Marca', 'Modelo', 'Año valuación',
       'Modelo Año', 'Valuación', 'anio_valuacion'],
      dtype='object')

In [6]:
URL_2014_df.columns

Index(['Nro Orden', 'Cod. Marca', 'Nombre Marca', 'Modelo', 'Año valuación',
       'Modelo Año', 'Valuación', 'anio_valuacion'],
      dtype='object')

In [7]:
URL_2015_df.columns

Index(['Nro Orden', 'Cod. Marca', 'Nombre Marca', 'Modelo', 'Año valuación',
       'Modelo Año', 'Valuación', 'anio_valuacion'],
      dtype='object')

In [8]:
URL_2016_df.columns

Index(['código', 'marca', 'año', 'fábrica', 'familia', 'valuación',
       'anio_valuacion'],
      dtype='object')

In [9]:
URL_2017_df.columns

Index(['código', 'marca', 'año', 'fábrica', 'familia', 'valuación',
       'anio_valuacion'],
      dtype='object')

In [10]:
URL_2018_df.columns

Index(['marca', 'rubro', 'fábrica', 'descripción', 'modelo', 'valuación',
       'anio_valuacion'],
      dtype='object')

In [12]:
URL_2018_df.head()

,marca,rubro,fábrica,descripción,modelo,valuación,anio_valuacion
0,927012660,125,2009,5 STARS,CD-H,16.132,2018
1,927010660,,2008,5 STARS,GB-D70,8.251,2018
2,927011660,,2009,5 STARS,CD-H200,17.373,2018
3,982600600,,2013,A.B.C.,,40.252,2018
4,2505200,,1928,A.F.F.,PICK-UP/JEEP,9.383,2018

In [14]:
URL_2019_df.to_csv('valuaciones_2019.csv',index=False)

In [26]:
URL_2019_df.head()

,marca,rubro,fábrica,descripción,modelo,valuación,anio_valuacion
0,927012660,6,5 STARS,CD-H 125,2009,25287,2019
1,927011660,6,5 STARS,CD-H200,2009,27232,2019
2,927010660,6,5 STARS,GB-D70,2008,12933,2019
3,982600600,6,A.B.C.,,2013,63095,2019
4,50600,6,A.B.C.,ALVAREZ JORGE MIGUEL SPEED LIMIT SL 50,2017,100320,2019

In [31]:
tabla_2019 = URL_2019_df[['fábrica','descripción','modelo','valuación','anio_valuacion']]
tabla_2019.columns = ['marca','modelo','ANO','valuacion','anio_valuacion']

In [95]:
tabla_2019['ANO']=tabla_2019.ANO.astype('int64')

/home/elias/.conda/envs/siisa/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [86]:
tabla_2019.to_csv('auto_valuaciones.csv',index=False)

In [91]:
tabla_2019.ANO

0        2009
1        2009
2        2008
3        2013
4        2017
         ...
79537    1997
79538    1998
79539    1999
79540    1992
79541    1938
Name: ANO, Length: 79542, dtype: object